/* General Layout */
.my-artist-page {
  display: flex;
  height: 100vh; /* Full height of the viewport */
  margin: 0;
}

/* Sidebar Styling */
.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  height: 100vh; /* Full height of the viewport */
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Add scroll if the content overflows */
}

/* Sidebar List Styling */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar ul li.active a {
  font-weight: bold;
  color: #6a5acd; /* Adjust to your theme color */
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-size: 1.1em;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #6a5acd; /* Preferred hover color */
}

/* Main Content Styling */
.my-artist-container {
  margin-left: 0px; /* Shift main content to the right of the sidebar */
  padding: 20px;
  flex-grow: 1;
  box-sizing: border-box;
}

/* Artist List Styling */
.artist-list {
  max-height: 70vh; /* Limit the height of the artist list */
  overflow-y: auto; /* Add a vertical scrollbar if the content exceeds the height */
  padding-right: 10px; /* Add some padding to the right for better appearance */
}

.artist-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.artist-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.artist-info h2 {
  margin: 0;
  font-size: 1.2em;
}

.artist-info p {
  margin: 0;
  color: #555;
}